[submodule ".vendor/ponytail"]
	path = .vendor/ponytail
	url = https://github.com/DietrichGebert/ponytail.git
	branch = v4.10.0
[submodule ".vendor/impeccable"]
	path = .vendor/impeccable
	url = https://github.com/pbakaus/impeccable.git
	branch = skill-v4.3.1
