[submodule ".vendor/ponytail"]
	path = .vendor/ponytail
	url = https://github.com/DietrichGebert/ponytail.git
	branch = v5.1.0
[submodule ".vendor/impeccable"]
	path = .vendor/impeccable
	url = https://github.com/pbakaus/impeccable.git
	branch = skill-v4.5.1
[submodule ".vendor/matt-pocock-skills"]
	path = .vendor/matt-pocock-skills
	url = https://github.com/mattpocock/skills.git
